
include README.md
include NOTICE.md

include LICENSE-APACHE
include LICENSE-MIT

include pyproject.toml

recursive-include cykit *.pxd *.pyx *.pyi *.cpp *.hpp *.h
recursive-include cykit *.so *.so.* *.dylib *.pyd

recursive-include cykit/_vendor/include *
exclude cykit/_vendor/include/.gitkeep

recursive-include cmake *.txt *.cmake

prune cykit/cylogger/build
prune cmake/spdlog/build
prune cmake/boost/build
prune cmake/openssl/build